
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

<div>
    @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
        <input type="file" name="postedFile" />
            <hr />
            <input type="submit" value="Upload" />
            <span>
                @Html.ActionLink("Return to setting", "Index");
            </span>
            <br />
            <span style="color:green">@ViewBag.Message</span>
    }
    
</div>
