@{
    ViewBag.Title = "Support Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="alert alert-info" role="alert"><p>If any problems, please contact me as soon as possible</p></div>

<address>
    <p>Webiste Support: Boris You</p><br />
    <p>Phone: 0413273846</p>
</address>

<address>
    <strong>Email:</strong>   <a href="syou0004@student.moansh.edu">syou0004@student.moansh.edu</a><br />
</address>