@{
    ViewBag.Title = "Documentation";
}
<h2 class="text-center">@ViewBag.Documentation</h2>

<div class="jumbotron">
    <h3>Author:</h3><p>Shuoqi You</p>
    <h3>Student ID:</h3><p>27547620</p>
    <h3>Unit Name:</h3><p>Internet applications development</p>
    <h3>Unit Provider:</h3><p>Monash University. The Caulfield School of Information Technology</p>
    <h3>Task Number:</h3><p>Task5.3</p>
    <h3>Tutor Name:</h3><p>Jian Liew</p>
    <h3>Author Email:</h3><p><a href="syou0004@student.monash.edu">syou0004@student.monash.edu</a></p>
    <h3>Task Specification:</h3><p>@Html.ActionLink("Task specification", "Documentation")</p>
</div>
<div class="table-reponsive">
    <table class="table table-bordered" style="word-break:break-all; word-wrap: break-word;">
        <tr>
            <th></th>
            <th>Image</th>
            <th>Author</th>
        </tr>
        <tr>
            <th>1</th>
            <td><img src="~/Content/news1.jpg" /></td>
            <td>
                http://www.randwick.nsw.gov.au/__data/assets/image/0007/14875/Latest-News.jpg
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td><img src="~/Content/news2.jpg" /></td>
            <td>
                http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td><img src="~/Content/news3.jpg" /></td>
            <td>http://www.sgs.com.au/en-GB/Our-Company/News-and-Media-Center/~/media/Global/Images/Structural%20Website%20Images/Section%20Backgrounds/NEWS_bg.ashx</td>
        </tr>
    </table>
</div>